<!-- <p>home-comp works!</p> -->
<section id="hero" class="hero section">
    <img src="/assets/Images/k.jpg" alt="" data-aso="fade-in" class="">
    <div class="container" data-aso="fade-up" data-aso-delay="100">
       <h2>Kishor Gahatraj</h2>
       <p>I'm <span class="typed-example" data-typed-items="Dot Net Developer, Angular Developer, React Developer, MsSql, HTML/CSS, JavaScript, C#"></span>
        <span class="typed-cursor--blink" aria-hidden="true">...</span>
      </p>
       <!-- <p>I'm <span class="typed" data-typed-items="Designer, Developer, freelancer,Photographer">Designer </span>
        <span class="typed-cursor--blink" aria-hidden="true">
            <span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
        </span></p>  -->
    </div>
</section>
